body {
  font-family: sans-serif;
}

div.gameScreen {
  user-select: none;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  border: 1px solid #000000;
}

div.line {
  width: fit-content;
  height: 32px;
}

div.cellNotOpened {
  display: inline-block;
  background-color: #bbbbbb;
  content: "";
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-right: 5px solid #a0a0a0;
  border-bottom: 5px solid #a0a0a0;
}
